*~
_*
*.o
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
mkfs
kernel/kernel
user/usys.S
.gdbinit
TAGS

# VS Code - 忽略数据库文件和图片
.vscode/BROWSE.VC.DB*
.vscode/image/